 .outline-sample {
            background-color: dimgrey;
            padding: 5px;
            border: 2px solid black;
            outline: 5px solid orchid;
        }
        .outline-style{
            background-color: darkkhaki;
            padding: 5px;
            border: 2px solid black;
            outline: 5px dotted tomato;
        }
        .outline-offset{
            
            border: 2px solid green;
            background-color: beige;
            padding: 2px;
            outline: 2px dashed purple;
            outline-offset: 10px;
        }