 .fixed{ 
            background-color: blue;
            border: 2px solid goldenrod;
            width:300px;
            height:200px;
        }
        .responsive{
            background-color: blueviolet;
            border: 2px solid black;
            width:50%;
            height: 100px;
        }
        .auto{
            background-color: hotpink;
            border: 2px solid black;
            width:auto;
         height:auto;
        }
        
        .max{
            background-color: blueviolet;
            max-width: 500px;
             border: 2px solid black;
        }
        
        .min{
            background-color: salmon;
            min-width: 500px;
            border: 2px solid black;
        }