 .box{
            display: none;
        }   
        .block{
            display: block;
            border: 2px solid black;
        }
         span{
            display: inline;
            border: 2px solid black;
            padding: 8px;
            background-color: blue;
        }
        .inline{
            display: inline-block;
            border: 2px solid black;
            padding: 8px;
            background-color: brown;
        }