 a:hover{
            color:red;

        }
        a:visited{
            color:purple;
        }
        input:focus{
            background-color: blue;
            border: 2px solid red;
        }
        h5::first-letter{
            color:peru;
            font-size: 25px;
            font-weight:bold;
        }
        h4::before{
            content:"we can use before and after:";
             color:hotpink;
            font-size: 25px;
            font-weight: bold;
        }
        h3::after{
            content:"we can use after:";
            color:orange;
            font-size: 30px;
            font-weight: bold;
        }
       div> h6:first-child{
            color:red;

        }
        h1:not(.light){
            color:indianred;
        }