.shadow-example1{
            width: 200px;
            height: 200px;
            background-color: plum;
            box-shadow: 2px 5px  lightcoral;
        }
         .shadow-example2{
            width: 200px;
            height: 200px;
            background-color: plum;
            box-shadow: 2px 5px 6px lightcoral;
        }
         .shadow-example3{
            width: 200px;
            height: 200px;
             background-color: plum;
           box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
        }

