 .box{
      width: 200px;
      height: 200px;
      background-color: pink;
      margin:auto;
      margin-top: 20px;
      transform: translatex(100px);
    }
    .box1{
      width: 200px;
      height: 200px;
      margin: auto;
      background-color: pink;
     margin-top: 20px;
     transform: translatex(-200px);
    }
    .box3{
      width:200px;
      height:200px;
      background-color: pink;
      margin:auto;
      margin-top: 20px;
      transform: translatey(10px);
    }
     .box4{
      width:200px;
      height:200px;
      background-color: pink;
      margin:auto;
      margin-top: 20px;
      transform: translatey(-50px);
    }
     .box5{
      width:200px;
      height:200px;
      background-color: pink;
      margin:auto;
      margin-top: 20px;
      transform: translate(100px,50px);
    }

