 .box1{
            width: 200px;
            height: 200px;
            background-color: blue;
            margin:auto;
          transition-property: background-color;
          transition-duration: 1s;
        }
        .box1:hover{
            background-color: gold;
        }
          .box2{
            width: 200px;
            height: 200px;
            background-color: gold;
            margin:auto;
          transition-property: width,height;
          transition-duration: 1s;
        }
        .box2:hover{
           width:800px;
           height:200px;
        }
          .box3{
            width: 200px;
            height: 200px;
            background-color: red;
            margin:auto;
          transition-property:all;
          transition-duration: 1s;
        }
        .box3:hover{
           width:800px;
           height:300px;
           background-color: blue;
        }
         .box4{
            width: 200px;
            height: 200px;
            background-color: greenyellow;
            margin:auto;
          transition-property:all;
          transition-duration:2s;
          transition-timing-function: ease-in-out;
        }
        .box4:hover{
           background-color: pink;
        }
        .box5{
            width:200px;
            height:200px;
            background-color: purple;
            margin:auto;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function:ease-in-out;
        }
        .box5:hover{
            background-color: aqua;
            transform: translate(100px);
        }


        .box6{
            width:200px;
            height:200px;
            background-color: hotpink;
            margin:auto;
            transition-property: all;
            transition-duration: 1s;
            transition-delay: 2s;
           
        }
        .box6:hover{
            background-color: aqua;
            transform:scale(0.5);
        }











