.tooltip{
    position: relative;
    display: inline-block;
    margin: 50px;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color:#fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom:125%;
    left:50%;
    z-index: 1;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.1s;

}
.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}